.nav{
  padding: 13px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e8f0;
  line-height: 2px;
}
.nav .left{
  display: flex;
  align-items: center;
}
.nav .left .menu{
  display: flex;
  margin-left: 40px;
}
.nav .left .menu li{
  list-style-type: none;
}
.nav .left .menu li a{
  color: #4a5568;
  padding: 3px 16px;
  display: block;
  font-size: 16px;
  text-decoration: none;
}
.nav .left .menu li a:hover{
  color: #000;
}
.nav .right button:first-child{
  margin-right: 5px;
}
